<% provide(:title, @user.name) %>

<div class="row">
  <div class="section_title">
      <h2>注文一覧</h2>
  </div>
  
  <div class="order_data preview_data">
    <%= form_with(model: @user, url: update_order_user_path(@user), local: true, method: :patch) do |f| %>
      <table class="table table-bordered table-condensed" id="table-tasks">
        <tbody>
          <tr>
            <th>注文日</th>
            <th>商品名</th>
            <th>商品情報</th>
            <th>価格</th>
          </tr>
          <% unless @lists_sum  == 0 %>
            <% @lists.each do |list| %>
              <tr>
                <td class="cell_data item_name" rowspan="3">
                  <%= l(list.updated_at, format: :short) %>
                </td>
                <td class="cell_data item_name" rowspan="3">
                  <%= list.name %>
                </td>
                <td class="cell_data_item_description">
                  <span>グラム数：</span>
                  <%= list.edit_item %>
                </td>
                
                  <td class="cell_data price" rowspan="3">
                    <span class="price">
                      <%= list.price %>円
                    </span>
                  </td>
              </tr>
              <tr>
                <td class="cell_data_item_description">
                  <span>焙煎度合い：</span>
                  <%= list.edit_roast %>
                </td>
              </tr>
              <tr>
                <td class="cell_data_item_description">
                  <span>挽き方：</span>
                  <%= list.edit_grind %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td class="empty_msg_box"  colspan="4">
                注文はありません。
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
<div> 